| @using CAD_Solver.ViewModels
| @model LoginViewModel

div.modal-content
	div.modal-header
		button.close(type="button", data-dismiss="modal") ×
		h4.modal-title Вход
	div.modal-body
		form(role="form" asp-antiforgery="true" asp-controller="Home" asp-action="Login" data-ajax="true" data-ajax-method="POST" data-ajax-begin="loginQueryBegin" data-ajax-success="loginQuerySuccess" data-ajax-failure="loginQueryFailed" data-ajax-update="#login-result-content" data-ajax-complete="loginQueryComplete")
			div.form-group.required(bootstrap-validation-for="Email" bootstrap-validationerror-class="has-error")
				span#login-error.hidden

				div.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-envelope
					input.form-control(type="email" asp-for="Email" placeholder="Введите адрес" required)
				span(asp-validation-for="Email")

			div.form-group.required(bootstrap-validation-for="Password" bootstrap-validationerror-class="has-error")
				div.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-lock
					input.form-control(type="password" asp-for="Password" placeholder="Введите пароль" required)
				span(asp-validation-for="Password")
			br
			div.form-group
				button.btn.btn-success#login-submit(type="submit") Войти
					span.glyphicon#login-processing
				button.btn.btn-default(type="button", data-dismiss="modal") Отмена
