| @section Scripts { 
environment(names="Development")
	script(src="~/lib/chart.js/Chart.bundle.js")
	script(defer src="~/js/stats-handler.js")
environment(names="Staging, Production")
	script(src="~/lib/chart.js/Chart.bundle.min.js")
	script(defer src="~/js/stats-handler.min.js")
| }

div.container
	bgimage(src="")
	div.row.text-center
		div.col-lg-12
			h1.display-1.text-center.page-title.text-primary Статистика
			br
	div.row.text-center
		div.col-lg-12
			h3.text-primary Самые популярные алгоритмы
			br
	div.row
		div.col-md-4.col-sm-4.col-xs-12
			div.x_panel.text-center
				div.x_title
					h3 У вас
				div.x_content
					canvas#popularSelfChart
		div.col-md-4.col-sm-4.col-xs-12
			div.x_panel
				div.x_title.text-center
					h3 У всех пользователей
				div.x_content
					canvas#popularEveryoneAllChart
		div.col-md-4.col-sm-4.col-xs-12
			div.x_panel
				div.x_title.text-center
					h3 За последнюю неделю
				div.x_content
					canvas#popularEveryoneWeekChart
	div.row.text-center
		div.col-lg-12
			h3.text-primary График посещений
			br
	div.row
		div.col-lg-8.col-lg-offset-2
			canvas#visitorsChart
