doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body.container-fluid
		img.page-bg
		div.container
			div#wrap
				div.row.text-center.row-spacing
					div.col-sm-8.col-sm-offset-2
						h1.display-1.text-center.page-title.text-primary О нас
						p.lead Мы предоставляем доступ к алгоритмам решения наиболее широко применяющихся задач оптимизации.
				div.row.text-center.row-spacing
					div.col-sm-4
						img.img-responsive.img-icon(src="img/icons/free.svg")
						h3 Бесплатно
						hr
						p Сервис полностью бесплатен и не накладывает никаких ограничений. Навсегда.
					div.col-sm-4
						img.img-responsive.img-icon(src="img/icons/time.svg")
						h3 Быстро
						hr
						p Все вычисления производятся на сервере и не требуют клиентских мощностей.
					div.col-sm-4
						img.img-responsive.img-icon(src="img/icons/mobile.svg")
						h3 Удобно
						hr
						p Легок в использовании на любом устройстве — от ПК до телефонов.
		footer.about-footer
			div.row.text-center
				div.col-xs-12
					div Icons made by 
						a(href="http://www.flaticon.com/authors/madebyoliver", title="Madebyoliver") Madebyoliver
					div Icons made by 
						a(href="http://www.flaticon.com/authors/roundicons", title="Roundicons") Roundicons
					div Icons made by 
						a(href="http://www.flaticon.com/authors/freepik", title="Freepik") Freepik
			p.text-center &copy;2016. All rights reserved			