doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		title CAD Solver

		link(href="libs/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
	body.container-fluid
		nav.navbar.navbar-default
			div.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
					span.sr-only ToggleNavigation
					- for(var i = 0; i < 3; i++) {
					span.icon-bar
					- }
				a.navbar-brand(href="#") CAD

			div.navbar-collapse.collapse#navbar
				ul.nav.navbar-nav
					li.active(data-page="main.html")
						a(href="#") Главная
					li.dropdown.nav-algos
						a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Алгоритмы
							span.caret
						ul.dropdown-menu
							li(data-page="otsp.html")
								a(href="#") Коммивояжер
							li(data-page="2dsp.html")
								a(href="#") Упаковка
							li
								a(href="#") Клика
					li(data-page="about.html")
						a(href="#") О нас
				ul.nav.navbar-nav.navbar-right
					li#li-signup
						a(href="#") Регистрация
					li#li-login
						a(href="#", data-toggle="modal", data-target="#loginModal") Вход
					li.dropdown-hidden#li-username
						a.dropdown-toggle#a-username(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
							span.caret
						ul.dropdown-menu
							li#li-stat(data-page="stats.html")
								a(href="#") Статистика
							li#li-logout
								a(href="#") Выход

		div.container.container-index
		script(src="libs/jquery/jquery.min.js")
		script(defer, src="libs/bootstrap/js/bootstrap.min.js")

		script(defer, src="js/page-loader.js")
		script(defer, src="js/fake-login.js")

		//-	
			modals

		div#loginModal.modal.fade
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type="button", data-dismiss="modal") ×
						h4.modal-title Вход
					div.modal-body
						form(role="form")
							div.form-group
								label(for="email") Email
								input.form-control#login-email(type="email", placeholder="Введите email")
							div.form-group
								label(for="pass") Пароль
								input.form-control#login-pass(type="password", placeholder="Пароль")
							button.btn.btn-success#login-submit(type="submit") Войти
							button.btn.btn-default(type="button", data-dismiss="modal") Отмена