doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body.container-fluid
		img.page-bg
		div.row.text-center
			div.col-sm-8.col-sm-offset-2
				h1.display-1.text-center.page-title.text-primary Открытая задача коммивояжера
		div.panel.panel-default
			div.panel-heading
				h4.panel-title
					a(data-toggle="collapse", href="#el1") Теория
			div.panel-collapse.collapse#el1
				div.panel-body
					div.row
						div.col-lg-12 Dummy

		div.panel.panel-default
			div.panel-heading
				h4.panel-title
					a Данные
			div.panel-body
				div.row
					div.col-lg-12
						div.input-matrix
				div.row
					div.col-lg-4
						button.btn.btn-success#btn-solve(type="submit") Решить
		div.panel.panel-default.hidden
			div.panel-heading
				h4.panel-title
					a(data-toggle="collapse", href="#el3") Решение
			div.panel-collapse.collapse#el3
				div.panel-body
					div.row
						div.col-lg-12 Dummy
		script(defer, src="js/input-table.js")
		script(defer, src="js/input-table-handler.js")

