indexBg = "../res/index-bg.jpg"
whiteColor = #CFCFCF
jumbotronBgColor = rgba(34,34,34,0.75)
disabledCellColor = #D7D7D7 
maxButtonsLineWidth = 700px
footerHeight = 1em

size(h, w) {
	height h
	width w
}

html
	size(100vh, 100vw)
	margin 0
	padding 0
	border 0

body
	@extend html
	background-image url(indexBg)
	background-position center top
	background-attachment fixed
	background-repeat no-repeat
	background-size cover

.container-index
	width 95vw

hr
	color whiteColor
	width 80%

.text-white
	color whiteColor !important

.jumbotron-black-transparent
	background:jumbotronBgColor !important

.horizontal-center
	display flex
	flex-direction column
	align-items center

@media (min-height: 660px) and (min-width: 500px)
	.vertical-center
		margin: 10vh 0

.page-bg 
	size(0px, 0px)
	position absolute

ul.main-buttons
	white-space nowrap

@media(max-width:maxButtonsLineWidth)
	ul.main-buttons > li
		display block
		margin-bottom 20px
		padding 0

	ul.main-buttons > li:last-child
		margin-bottom 0

ul.main-buttons > li > a
	width 180px !important

.row-spacing
	margin-bottom 3.5em

.img-icon
	size(100px, 100px)
	margin 0 auto

#wrap
	min-height 82.5vh

#main
	overflow auto
	padding-bottom footerHeight

.about-footer
	position relative
	margin-top -footerHeight
	height footerHeight
	clear both


.input-table
	width auto !important
	margin-top 20px

th, td
	vertical-align middle !important
	text-align center !important

.td-disabled
	background-color disabledCellColor