doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		title CAD Solver

		environment(names="Development")
			link(rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css")
			link(href="~/css/style.css", rel="stylesheet")

		environment(names="Staging, Production")
			link(rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css")
			link(href="~/css/style.min.css", rel="stylesheet")

	body.container-fluid(runat="server")
		nav.navbar.navbar-default
			div.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
					span.sr-only ToggleNavigation
					- for(var i = 0; i < 3; i++) {
					span.icon-bar
					- }
				a.navbar-brand CAD

			div.navbar-collapse.collapse#navbar
				ul.nav.navbar-nav
					menulink(asp-controller="Home" asp-action="Index" menu-text="Главная")
					li.dropdown.nav-algos
						a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Алгоритмы
							span.caret
						ul.dropdown-menu
							menulink(asp-controller="Home" asp-action="Otsp" menu-text="Коммивояжер")
							menulink(asp-controller="Home" asp-action="Tdsp" menu-text="Упаковка")
							li
								a Клика
					menulink(asp-controller="Home" asp-action="About" menu-text="О нас")
				ul.nav.navbar-nav.navbar-right
					menulink(asp-controller="Home" asp-action="Register" menu-text="Регистрация")
					li
						a(href="#" data-target="#login-modal" data-toggle="modal") Вход
					li.dropdown-hidden#li-username
						a.dropdown-toggle.hidden#a-username(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
							span.caret
						ul.dropdown-menu
							li#li-stat
								a(asp-controller="Home" asp-action="Stats") Статистика
							li#li-logout
								a Выход

		div.container.container-index
			| @RenderBody()
		div.modal.fade#login-modal
			div.modal-dialog
				| @await Html.PartialAsync("Login", new CAD_Solver.ViewModels.LoginViewModel())

		environment(names="Development")
			script(src="~/lib/jquery/jquery.js")
			script(src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js")
			script(src="~/lib/bootstrap/js/bootstrap.js")
			script(src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js")
			script(src="~/lib/jquery-validation/jquery.validate.js")
			script(src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")
			script(src="~/js/login.js")
		environment(names="Staging, Production")
			script(src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js" asp-fallback-src="~/lib/jquery/jquery.min.js" asp-fallback-test!="window.jQuery")
			script(src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js" asp-fallback-test!="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal")
			script(src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js")
			script(src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
			script(src="~/lib/jquery-validation/jquery.validate.js")
			script(src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")
			script(src="~/js/login.js")
		| @RenderSection("Scripts", required: false)
