| @{
|    ViewData["Title"] = "Error";
| }

h1.text-danger Error
h2.text-danger An error occurred while processing your request.

h3 Development Mode
p Swapping to #[strong Development] environment will display more detailed information about the error that occurred.
p #[strong Development environment should not be enabled in deployed applications], as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the #[strong ASPNETCORE_ENVIRONMENT] environment variable to #[strong Development], and restarting the application.