<!DOCTYPE html>
<html lang="ru">
  <body class="container-fluid"><img class="page-bg">
    <div class="container">
      <div id="wrap">
        <div class="row text-center row-spacing">
          <div class="col-sm-8 col-sm-offset-2">
            <h1 class="display-1 text-center page-title text-primary">О нас</h1>
            <p class="lead">Мы предоставляем доступ к алгоритмам решения наиболее широко применяющихся задач оптимизации.</p>
          </div>
        </div>
        <div class="row text-center row-spacing">
          <div class="col-sm-4"><img class="img-responsive img-icon" src="img/icons/free.svg">
            <h3>Бесплатно</h3>
            <hr>
            <p>Сервис полностью бесплатен и не накладывает никаких ограничений. Навсегда.</p>
          </div>
          <div class="col-sm-4"><img class="img-responsive img-icon" src="img/icons/time.svg">
            <h3>Быстро</h3>
            <hr>
            <p>Все вычисления производятся на сервере и не требуют клиентских мощностей.</p>
          </div>
          <div class="col-sm-4"><img class="img-responsive img-icon" src="img/icons/mobile.svg">
            <h3>Удобно</h3>
            <hr>
            <p>Легок в использовании на любом устройстве — от ПК до телефонов.</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="about-footer">
      <div class="row text-center">
        <div class="col-xs-12">
          <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a></div>
          <div>Icons made by <a href="http://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a></div>
          <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a></div>
        </div>
      </div>
      <p class="text-center">&copy;2016. All rights reserved			</p>
    </footer>
  </body>
</html>