<!DOCTYPE html>
<html lang="ru">
  <body class="container"><img class="page-bg">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <h1 class="display-1 text-center page-title text-primary">Задача двумерной упаковки</h1><br>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" href="#el1">Теория</a></h4>
        </div>
        <div class="panel-collapse collapse" id="el1">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 text-justify">
                <p><strong>Задача об упаковке в контейнеры</strong> — NP-трудная комбинаторная задача. Задача заключается в упаковке объектов предопределённой формы в конечное число контейнеров предопределённой формы таким способом, чтобы число использованных контейнеров было наименьшим или количество или объём объектов (которые упаковывают) были наибольшими.</p>
                <p>Как частный случай задачи двумерной упаковки, <strong>задача упаковки в полуограниченную полосу</strong> (2-Dimensional Strip Packing, 2DSP) заключается в упаковке объектов конкретной формы в конечное число контейнеров конкретной формы таким способом, чтобы число использованных контейнеров было наименьшим или количество или объем объектов (которые упаковывают) были наибольшими. Разница с двумерной упаковкой состоит в том, что есть только один контейнер, и вместо минимизации количества контейнеров, мы минимизируем высоту заполненности одного.</p>
                <p>У 2DSP есть два варианта входных данных: когда набор упаковываемых объектов известен заранее (offline-проблема) и когда данные поступают порциями (online-проблема). </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Данные</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="pack-table"></div>
            </div>
            <div class="col-lg-2">
              <form role="form">
                <div class="form-group">
                  <label for="width">Stripe width</label>
                  <input class="form-control" id="stripe-width" type="width" placeholder="Ширина полосы">
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <button class="btn btn-success" id="btn-solve" type="submit">Решить</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default hidden" id="div-result">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" href="#el3">Решение</a></h4>
        </div>
        <div class="panel-collapse collapse" id="el3">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12"> 
                <p id="result"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script defer src="js/input-table.js"></script>
    <script defer src="js/pack-table-handler.js"></script>
  </body>
</html>