
<body class="container-fluid">
  <div class="container">
    <div class="row vertical-center">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="jumbotron jumbotron-black-transparent horizontal-center">
          <h1 class="text-white">CAD Solver</h1>
          <p class="text-white">До цифирей дает</p>
          <hr/>
          <p class="text-white">Попробуйте сейчас:</p>
          <ul class="list-inline main-buttons">
            <li data-page="otsp.html"><a class="btn btn-primary btn-lg" href="#">Коммивояжер</a></li>
            <li data-page="2dsp.html"><a class="btn btn-primary btn-lg" href="#">Упаковка</a></li>
            <li><a class="btn btn-primary btn-lg" href="#">Клика</a></li>
          </ul>
        </div>
      </div>
      <div class="push"></div>
    </div>
  </div>
</body>