doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		title CAD Solver

		environment(names="Development")
			link(rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css")
			link(href="~/css/style.css", rel="stylesheet")

		environment(names="Staging, Production")
			link(rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css")
			link(href="~/css/style.min.css", rel="stylesheet")

	body.container-fluid
		nav.navbar.navbar-default
			div.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
					span.sr-only ToggleNavigation
					- for(var i = 0; i < 3; i++) {
					span.icon-bar
					- }
				a.navbar-brand CAD

			div.navbar-collapse.collapse#navbar
				ul.nav.navbar-nav
					li.active
						a(asp-controller="Home" asp-action="Index") Главная
					li.dropdown.nav-algos
						a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Алгоритмы
							span.caret
						ul.dropdown-menu
							li
								a(asp-controller="Home" asp-action="Otsp") Коммивояжер
							li
								a(asp-controller="Home" asp-action="Dsp") Упаковка
							li
								a Клика
					li
						a(asp-controller="Home" asp-action="About") О нас
				ul.nav.navbar-nav.navbar-right
					li#li-signup
						a(href="#") Регистрация
					li#li-login
						a(href="#", data-toggle="modal", data-target="#loginModal") Вход
					li.dropdown-hidden#li-username
						a.dropdown-toggle.hidden#a-username(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
							span.caret
						ul.dropdown-menu
							li#li-stat
								a(asp-controller="Home" asp-action="Stats") Статистика
							li#li-logout
								a Выход

		div.container.container-index.
			@RenderBody()

		//-	
			modals

		div#loginModal.modal.fade
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type="button", data-dismiss="modal") ×
						h4.modal-title Вход
					div.modal-body
						form(role="form")
							div.form-group
								label(for="email") Email
								input.form-control#login-email(type="email", placeholder="Введите email")
							div.form-group
								label(for="pass") Пароль
								input.form-control#login-pass(type="password", placeholder="Пароль")
							button.btn.btn-success#login-submit(type="submit") Войти
							button.btn.btn-default(type="button", data-dismiss="modal") Отмена

		environment(names="Development")
			script(src="~/lib/jquery/dist/jquery.js")
			script(defer src="~/lib/bootstrap/dist/js/bootstrap.js")
		environment(names="Staging, Production")
			script(src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test!="window.jQuery")
			script(defer src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-fallback-test!="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal")
		| @RenderSection("scripts", required: false)