body.container-fluid
	div.container
		div.row.vertical-center
			div.col-lg-8.col-lg-offset-2
				div.jumbotron.jumbotron-black-transparent.horizontal-center
					h1.text-white CAD Solver
					p.text-white До цифирей дает
					hr
					p.text-white Попробуйте сейчас:
					ul.list-inline.main-buttons
						li(data-page="otsp.html")
							a.btn.btn-primary.btn-lg(href="#") Коммивояжер
						li(data-page="2dsp.html")
							a.btn.btn-primary.btn-lg(href="#") Упаковка
						li
							a.btn.btn-primary.btn-lg(href="#") Клика
			div.push